/* Fonts */
@font-face {
  font-family: 'train-one';
  /*a name to be used later*/
  src: url('../fonts/TrainOne-Regular.ttf');
  /*URL to font*/
}

@font-face {
  font-family: 'work-sans';
  src: url(../fonts/WorkSans-VariableFont_wght.ttf);
}

@font-face {
  font-family: 'work-sans-itac';
  src: url(../fonts/WorkSans-Italic-VariableFont_wght.ttf);
}

/* Colors Vars */
:root {
  --primary-highlight: #008919;
  --primary-color: #ffffff;
}

/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'work-sans', sans-serif;
  line-height: 1.5;
}

.head{
  background-color: #01a995;
}
.topnav {
  overflow: hidden;
  background-color: #000000;
}

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  color: #0080c0;
}

.topnav a.active {
  color: var(--primary-highlight);
}

.topnav .icon {
  display: none;
}

@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {
    display: none;
  }

  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .topnav.responsive {
    position: relative;
  }

  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }

  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}